#tracy-debug-logo svg {
    display: none !important;
}

#tracy-debug-logo::before {
    display: block;
    content: "";
    width: 20px;
    height: 100%;
    border-right: 1px solid lightgray;
    background: lightgray;
}
