#tracy-debug h1 {
    position: fixed;
    z-index: 999;
    min-width: 260px;
    line-height: 46px;
    margin: 0;
    padding: 0 8px;
    white-space: nowrap;
}

#tracy-debug table {
    width: 100%;
}

#tracy-debug .tracy-panel {
    min-width: 340px !important;
    padding-top: 0 !important;
    opacity: 1 !important;
}

#tracy-debug .tracy-icons {
    position: fixed !important;
    z-index: 998;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    width: inherit;
    min-width: inherit;
    height: 46px;
    text-align: right;
    padding: 10px 32px 0 0;
    background: white;
}

#tracy-debug .tracy-icons a {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

#tracy-debug .tracy-inner {
    max-width: 100%;
    margin-top: 50px;
    overflow: visible;
    white-space: nowrap;
}

#tracy-debug .tracy-mode-peek {
    overflow: auto !important;
}

#tracy-debug .tracy-mode-peek h1 {
    width: 100%;
    background: white;
}

#tracy-debug .tracy-mode-peek .tracy-inner,
#tracy-debug .tracy-mode-float .tracy-inner {
    max-width: 900px !important;
}

#tracy-debug .tracy-inner-box {
    border: 1px solid #E6DFBF !important;
    background: #FDF5CE !important;
}

#tracy-debug pre.tracy-dump {
    overflow: visible !important;
}

#tracy-debug-bar li > span {
    padding: 0;
}

#tracy-debug-bar a[rel="tracy-debug-panel-WebinoDebug-info"],
#tracy-debug-bar a[rel="tracy-debug-panel-WebinoDebug-info-ajax"] {
    display: none;
}

#tracy-ajax-bar {
    border-top: 1px solid lightgray;
}

a[rel="tracy-debug-panel-Tracy-dumps"] .tracy-label {
    display: none;
}
