<phpunit bootstrap="bootstrap.php" colors="true">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="unit">
            <directory>WebinoDebug/Options</directory>
            <directory>WebinoDebug</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
