---
---

@import "{{ site.theme }}";

.page-header {
  padding: 0;
  background: slategray;
}

.page-header .project-tagline {
  display: none;
}

.page-header .btn {
  position: absolute;
  top: 15px;
  left: 20px;
}

.main-content {
  width: 100%;
  min-width: 1010px;
  max-width: 100%;
  padding: 20px 20% 20px 33%;
  box-sizing: border-box;
}

.main-content h1 {
  line-height: 44px;
}
